/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
  background:     #1E1D2FBB;
  background-alt: #282839FF;
  foreground:     #D9E0EEFF;
  selected:       #7AA2F7BB;
  active:         #ABE9B3BB;
  urgent:         #F28FADFF;
}
